.our-strength {
  background-color: $main-background-color;

  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    padding: 0px;
  }

  &__text-title {
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }

  &__text-description {
    color: $descriprion-color;
    font-size: 0.8rem;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 270px;
    height: 75px;
    margin-right: 30px;
  }
}
